* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Quarion", sans-serif;
  overflow-x: hidden;
}

.gradient {
  background: linear-gradient(to bottom, #f2f3f4, #ffffff);
}

.title {
  h2 {
    font-weight: 600;
    font-size: 34px;
    line-height: 43px;
    color: #21435f;
  }
}

.container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(124, 124, 124, 0.1);

  &__main {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      a {
        img {
          height: 64px;
        }
      }
    }

    &__menu {
      ul {
        display: flex;

        li {
          padding: 0 30px;

          a {
            font-size: 17px;
            font-weight: 400;
            color: #3b3d3f;
          }
        }
      }
    }

    &__number {
      a {
        display: flex;
        align-items: center;

        i {
          color: #c7aa5e;
          margin-right: 10px;
          font-size: 18px;
        }

        span {
          font-size: 16px;
          line-height: 135%;
          font-weight: 400;

          color: #3b3d3f;
        }
      }
    }

    &__social {
      ul {
        display: flex;

        li {
          padding: 0 7px;

          a {
            background-color: #c7aa5e;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            height: 38px;
            width: 38px;
            font-size: 18px;
            color: white;
          }
        }
      }
    }

    &__lang {
      button {
        font-size: 16px;
        line-height: 135%;
        font-weight: 400;
        color: #3b3d3f;
        padding: 5px 15px 5px 15px;
        border: 1px solid #ffffff;
        cursor: pointer;
        outline: none !important;
        background-color: #f0f0f0;

        border-radius: 73px;

        i {
          margin-left: 6px;
          color: #c7aa5e;
        }
      }
    }
  }
}

.banner {
  height: calc(100vh - 100px);
  background-image: url("/images/banner-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      270deg,
      #000000 51.56%,
      rgba(255, 255, 255, 0) 100%
    );
    opacity: 0.2;
    z-index: -1;
  }

  &__info {
    width: calc(100% / 12 * 5);
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-weight: 600;
      font-size: 62px;
      line-height: 70px;
      color: #21435f;
      margin-bottom: 22px;
    }

    p {
      line-height: 30px;
      font-size: 22px;
      font-weight: 400;
      color: #3b3d3f;
      margin-bottom: 50px;
    }

    a {
      width: max-content;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      background: #c7aa5e;
      border-radius: 2px;

      span {
        font-size: 17px;
        line-height: 135%;
        font-weight: 400;
        color: #ffffff;
        margin-right: 10px;
      }

      i {
        color: white;
      }
    }
  }
}

.about {
  padding-top: 140px;
  padding-bottom: 160px;

  &__main {
    display: flex;
    justify-content: center;

    &__image {
      position: relative;
      max-width: 502px;
      flex: 0 0 502px;
      height: 363px;
      padding-top: 22px;
      padding-left: 22px;

      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      &__frame {
        content: "";
        top: 0;
        left: 0;
        position: absolute;
      }
    }

    &__info {
      margin-left: 90px;
      width: 100%;
      display: flex;
      flex-direction: column;

      &__title {
        margin-bottom: 20px;
      }

      &__text {
        p {
          font-size: 17px;
          line-height: 135%;
          font-weight: 400;
          color: #a19f9f;
          margin-bottom: 16px;
        }
      }

      &__menu {
        padding-top: 20px;
        border-top: 1px solid #d6d6d6;
        margin-top: auto;

        ul {
          display: flex;
          justify-content: space-between;

          li {
            width: 100px;

            .top {
              display: flex;
              align-items: center;

              span {
                display: block;
                font-weight: 500;
                font-size: 32px;
                line-height: 125%;
                color: #21435f;
              }

              img {
                margin-left: 10px;
                height: 30px;
                opacity: 0.8;
              }
            }

            p {
              font-size: 16px;
              line-height: 20px;
              font-weight: 400;
              color: #3b3d3f;
            }
          }
        }
      }
    }
  }
}

.specialists {
  &__main {
    &__title {
      margin-bottom: 30px;
    }

    &__carousel {
      position: relative;

      .owl-stage-outer {
        padding: 15px;
        margin: -15px;
      }

      .owl-nav {
        position: absolute;
        margin: 0;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;

        button {
          margin: 0 !important;
          width: 40px !important;
          height: 40px !important;
          display: flex !important;
          align-items: center !important;
          justify-content: center !important;
          background: #dcdedf !important;
          border-radius: 50% !important;
          outline: none;

          i {
            font-size: 11px;
            color: white;
          }

          &.owl-prev {
            transform: translateX(calc(-100% - 30px));
          }

          &.owl-next {
            transform: translateX(calc(100% + 30px));
          }
        }
      }

      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        box-shadow: 0px 4px 12px rgba(60, 60, 60, 0.05);
        height: 160px;
        padding: 20px;

        img {
          height: 65px;
          margin-bottom: 15px;
        }

        p {
          text-align: center;
          margin: 0;
          font-size: 16px;
          line-height: 20px;
          color: #3b3d3f;
          font-weight: 400;
        }
      }
    }
  }
}
.services {
  margin-top: 200px;

  &__main {
    &__carousel {
      &__item {
        display: flex;
        margin-left: 5px;

        &__image {
          max-width: 472px;
          flex: 0 0 472px;
          height: 402px;
          position: relative;
          padding-right: 22px;
          padding-bottom: 22px;
          z-index: 1;

          &::after {
            content: "";
            position: absolute;
            right: 22px;
            bottom: 22px;
            left: 0;
            top: 0;
            background: rgba(0, 0, 0, 0.1);
            z-index: 2;
          }
          & > img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
          }
          &__icon {
            position: absolute;
            bottom: 45px;
            right: 45px;

            img {
              height: 70px;
            }
          }
          &__frame {
            position: absolute;
            right: 0;
            bottom: 0;
            transform: rotate(-180deg);
          }
        }
        &__info {
          margin-left: 90px;
          &__title {
            margin-bottom: 30px;
            h2 {
              font-weight: 600;
              font-size: 34px;
              line-height: 43px;
              color: #21435f;
            }
          }
          h3 {
            font-weight: 500;
            font-size: 26px;
            line-height: 32px;
            color: #3b3d3f;
            margin-bottom: 20px;
          }
          p {
            font-size: 17px;
            line-height: 135%;
            color: #a19f9f;
          }
          &__footer {
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
              padding: 10px 22px;
              display: flex;
              align-items: center;
              background-color: #c7aa5e;
              border-radius: 2px;
              span {
                font-size: 17px;
                line-height: 135%;
                color: #ffffff;
                margin-right: 10px;
              }
              i {
                font-size: 18px;
                color: #fff;
              }
            }
            .owl-control {
              span {
                cursor: pointer;
                i {
                  color: #c4c4c4;
                  font-size: 26px;
                  margin-left: 55px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.stage {
  margin-top: 170px;
  padding-bottom: 170px;

  &__main {
    display: flex;

    &__info {
      width: 100%;
      margin-right: 95px;

      &__title {
        padding-bottom: 25px;
      }
      &__menu {
        ul {
          li {
            margin-top: 5px;

            & > span {
              font-family: "Quarion";
              font-style: normal;
              font-weight: 600;
              font-size: 38px;
              line-height: 48px;
              color: #f3f3f3;
            }

            p {
              padding-left: 25px;
              position: relative;
              font-weight: normal;
              font-size: 17px;
              line-height: 130%;
              color: #3b3d3f;

              span {
                position: absolute;
                left: 0;
                top: 0;
                i {
                  color: #c7aa5e;
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }

    &__image {
      max-width: 660px;
      flex: 0 0 660px;
      height: 540px;
      position: relative;
      padding: 16px 11px 11px 16px;

      &__img1 {
        width: calc(100% - 30px);
        height: calc(100% - 77px);
        z-index: 1;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      &__img2 {
        position: absolute;
        right: 11px;
        bottom: 11px;
        padding-top: 10px;
        padding-left: 10px;
        background-color: #ffffff;
        width: 360px;
        height: 250px;
        z-index: 2;
        img {
          width: 100%;
          height: 100%;
        }
      }
      &__frame {
        position: absolute;
        right: 0;
        bottom: 0;
        transform: rotate(-180deg);

        img {
          height: 77px;
        }
      }
      &::before {
        content: "";
        width: 503px;
        height: 386px;
        display: block;
        background-color: #dcdedf;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
      }
    }
  }
}

.partners {
  padding-bottom: 112px;

  &__main {
    &__title {
      margin-bottom: 43px;
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
    }
  }
}

.footer {
  background-color: #2d506d;
  padding-top: 50px;
  padding-bottom: 31px;

  &__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__first {
      p {
        font-size: 15px;
        line-height: 130%;
        color: #f9f9f9;
        padding-top: 20px;
        max-width: 209px;
      }
    }
    &__contact {
      &__title {
        h3 {
          font-weight: 500;
          font-size: 18px;
          line-height: 140%;
          color: #f9f9f9;
        }
      }
      &__menu {
        ul {
          padding-top: 20px;
          li {
            padding-bottom: 10px;
            font-size: 16px;
            line-height: 140%;
            color: #f9f9f9;
            a {
              text-decoration: none;
              color: #f9f9f9;
            }
          }
          li:last-child {
            padding-bottom: 0;
            max-width: 230px;
          }
        }
      }
    }
    &__menu {
      ul {
        li {
          font-weight: normal;
          font-size: 16px;
          line-height: 140%;
          color: #f9f9f9;
          padding-bottom: 12px;

          a {
            text-decoration: none;
            color: #f9f9f9;
          }
        }
        li:last-child {
          padding-bottom: 0;
        }
      }
    }
    &__last {
      &__text {
        p {
          font-size: 16px;
          line-height: 140%;
          color: #f9f9f9;
        }
      }
      &__menu {
        display: flex;
        padding-top: 14px;
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 34px;
          height: 34px;
          border-radius: 50%;
          background-color: #c7aa5e;

          a {
            color: #fff;
          }
        }
        li:first-child {
          margin-right: 12px;
        }
      }
    }
    &__copy {
      width: 100%;
      display: flex;
      justify-content: space-between;
      span {
        font-size: 16px;
        line-height: 140%;
        color: #f9f9f9;
        a{
          text-decoration: none;
          color: #C7AA5E;
        }
      }
    }
  }
}

@media (max-width:1400px ){
    .container{
      max-width: 1140px;
    }
}
@media (max-width:1200px ){
    .container{
      max-width: 960px;
    }
    .header__main__menu{
      ul{
        li{
          padding: 0 10px;
          a{
            font-size: 16px;
          }
        }
      }
    }
    .stage__main__info__menu{
      ul{
        display: flex;
        flex-wrap: wrap;
        
      }
    }
    .stage__main__image{
      max-width: 470px;
      flex: 0 0 470px;
      &::before{
        width: 300px;
        height: 300px;
      }
    }

}
@media (max-width: 992px ){
    .container{
      max-width: 720px;
    }
    .banner__info{
      h1{
        font-size: 42px;
      }
      p{
        font-size: 16px;
      }
    }
    .header__main__logo{
      a{
        img{
          height: 44px;
        }
      }
      
    }
    .header__main__social{
      display: none;
    }
    .header__main__lang{
      display: none;
    }
    .about__main__image{
      max-width: 402px;
      height: 300px;
    }
    .about__main__info{
      margin-left: 40px;
    }
    .services__main__carousel__item__image{
      max-width: 350px;
      height: 300px;
    }
    .services__main__carousel__item__info{
      p{
        font-size: 15px;
        line-height: 1;
      }
    }
    .services__main__carousel__item__info__footer{
      margin-top: 25px;
      a{
        padding: 8px 15px;
      }
    }
    .owl-control{
      display: none;
    }
    .stage__main{
      flex-wrap: wrap;
      &__info{
       &__menu{
         ul{
           margin-bottom: 10px;
           li{
            flex: 0 0 50%;
            margin-bottom: 10px;
           }
         }
       }
      }
      &__image {
     
       margin: 0 auto;
      }
    }
    .partners__main__wrapper{
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      a{
        flex: 0 0 50%;
        margin-top: 10px;
      }
    }
}
@media (max-width:768px ){
    .container{
      max-width: 540px;
    }
}
@media (max-width:576px ){
    .container{
      max-width: 100%;
    }
}
