@media (max-width: 1480px) {
    .container{
        max-width: 1240px;
    }
    .header__main {
        padding: 15px 0;
    }
    .header__main__menu>ul>li {
        padding: 0 17.5px !important;
    }
    .header__main__setting {
        margin-left: 30px;
    }
    .header__main__setting__search {
        margin: 0 30px;
    }
    .header__main__menu>ul {
        margin: 0!important;
    }
    .header__main__setting__functions__item {
        padding: 0 15px;
    }
    .header__main__logo img {
        height: auto;
        width: 185px;
    }
    .header__main__logo span {
        font-weight: 500;
        font-size: 15px;
        line-height: 17px;
        margin-top: 5px;
    }
    .header__main__menu>ul>li>a {
        font-size: 17px !important;
        line-height: 20px !important;
    }
    .header__main__setting__lang__dropdown button {
        font-size: 16px;
        line-height: 20px;
    }    
    .slider-info h1 {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 30px;
    }
    .slider-info p {
        font-size: 19px;
        line-height: 25px;
        margin-bottom: 20px;
    }
    .slider-info {
        height: 345px;
        padding-bottom: 50px;
    }
    .slider-home {
        height: 625px;
    }
    .homeSlider-item__image {
        height: 625px;
    }
    .homeSlider-item__info {
        padding-top: 60px;
    }
    .slider-info a {
        font-size: 19px;
        line-height: 21px;
        font-weight: 600;
    }
    .slideThumbs-item__image {
        height: 175px;
    }
    .slideThumbs {
        -webkit-transform: translateY(-60px);
        transform: translateY(-60px);
    }
    .slideThumbs-item__info p {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
    .row {
        margin-right: -10px;
        margin-left: -10px;
    }
    
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        padding-right: 10px;
        padding-left: 10px;
    }
    .title h2 {
        font-size: 25px;
        line-height: 30px;
    }
    .news {
        padding: 45px 0 0px;
    }
    .news__wrapper__main__body__item__info__date span {
        font-size: 17px;
        line-height: 21px;
    }
    .news__wrapper__main__body__item__info {
        margin-right: 30px;
        padding: 20px 0;
    }
    .sidebar__downloads {
        padding: 0 20px;
        margin-bottom: 20px;
    }
    .sidebar__downloads__item {
        min-height: 185px;
        padding: 20px 0;
    }
    .sidebar__downloads__item__footer p {
        font-size: 15px;
        line-height: 19px;
    }
    .news__wrapper__main__body__item__info__text p {
        font-size: 17px;
        line-height: 23px;
    }
    .main {
        padding: 75px 0;
    }
    .main__wrapper__item {
        width: 345px;
        height: 110px;
    }
    .main__wrapper .row>div:nth-child(odd) .main__wrapper__item {
        padding: 15px 15px 15px 40px;
    }
    .main__wrapper__item__title {
        margin-bottom: 5px;
    }
    .main__wrapper__item__title h3 {
        font-size: 17px;
        line-height: 21px;
    }
    .main__wrapper__item__text p {
        font-size: 15px;
        line-height: 19px;
    }
    .main__wrapper .row>div:nth-child(even) .main__wrapper__item {
        padding: 15px 40px 15px 15px;
    }
    .main__wrapper__middle {
        height: 325px;
        width: 380px;
    }
    .main__wrapper__middle__info {
        left: 20px;
        right: 20px;
        padding: 15px 20px;
    }
    .main__wrapper__middle__info h3 {
        font-size: 16px;
        line-height: 21px;
    }
    .main__wrapper__middle__info h3 span {
        margin-top: 10px;
    }
    .help__main__carousel__item__icon img {
        height: 40px;
    }
    .help__main__carousel__item__text p {
        font-size: 17px;
        line-height: 21px;
    }
    .help__main__carousel__item {
        height: 180px;
        padding: 15px;
    }
    .help__main__carousel__item__href span {
        font-size: 16px;
        line-height: 19px;
    }    
    .links__main__title {
        padding-top: 60px;
        padding-bottom: 30px;
        margin-bottom: 45px;
    }
    .links__main__carousel__item__logo {
        left: 20px;
        top: -30px;
    }
    .links__main__carousel__item__logo img {
        height: 60px;
    }
    .links__main__carousel__item {
        padding: 40px 20px 15px;
        height: 140px;
    }
    .links {
        padding-bottom: 60px;
    }
    .links__main__carousel__item__text p {
        font-size: 16px;
        line-height: 21px;
    }
    .footer__main__left__logo img {
        width: 185px;
    }
    .footer__main__left__logo span {
        font-weight: 500;
        font-size: 15px;
        line-height: 17px;
        margin-top: 5px;
    }
    .footer__main__center ul li span {
        font-size: 15px;
        line-height: 20px;
    }
    .footer__main__center ul li a, .footer__main__center ul li small {
        line-height: 20px;
    }
    .footer__main__right__author span {
        font-size: 15px;
        line-height: 20px;
    }
    .footer__main__left__copy span {
        font-size: 15px;
        line-height: 20px;
    }
    .footer__main__right__text2 p,
    .footer__main__right__text1 p {
        font-size: 15px;
        line-height: 19px;
    }
    .sidebar {
        padding: 20px;
        margin-bottom: 20px;
    }
    .pages-breadcrumb .breadcrumb {
        padding-top: 20px;
        padding-bottom: 15px;
    }
    .content {
        padding: 20px;
        margin-bottom: 20px;
    }
    .pages__banner {
        padding: 20px 0 15px;
    }
    .breadcrumb-item span,
    .breadcrumb-item a {
        font-size: 16px;
    }
    .breadcrumb .breadcrumb-item:first-child::before {
        margin-top: 1px;
        font-size: 15px;
    }
    .leadership__main__wrapper__item {
        margin-bottom: 45px;
    }
    .press__main__wrapper__item__image .date span {
        font-size: 14px;
        line-height: 17px;
    }
    .press__main__wrapper__item__text p {
        font-size: 17px;
        line-height: 21px;
    }
    .press__main__wrapper__item__footer ul li span {
        font-size: 15px;
        line-height: 21px;
    }
    .press__main__wrapper__item {
        padding: 170px 15px 15px;
        margin-bottom: 50px;
        height: 305px;
    }
    .press__main__wrapper__item__image {
        left: 15px;
        right: 15px;
    }
    .press__main__title {
        padding-bottom: 30px;
    }
    .news-view__main {
        padding: 20px;
    }
    .news-view__date span {
        font-size: 16px;
    }
    .news-view__title {
        padding: 15px 0;
    }
    .news-view__title h3 {
        font-size: 19px;    
    }
    .portfolio-inner-item {
        height: 440px;
    }
    .content-body, .news-view-content {
        font-size: 17px;
        line-height: 21px;
    }
    .ya-share2__container_mobile.ya-share2__container_size_m .ya-share2__icon {
        height: 26px!important;
        width: 26px!important;
    }
    .news-view__print span {
        font-size: 16px;
    }
    .news-view-content p {
        margin-bottom: 0.5rem;
    }
    .leadership__main__wrapper__item {
        padding: 20px 20px 0;
        margin-bottom: 40px;
    }
    .leadership__main__wrapper__item__header__image {
        left: 20px;
        top: -20px;
    }
    .leadership__main__wrapper {
        padding-top: 0;
    }
    .leadership__main__wrapper__item__header {
        padding-left: 230px;
    }
    .leadership__main__wrapper__item__header__info {
        margin-bottom: 15px;
    }
    .leadership-bio {
        padding-top: 15px;
        padding-bottom: 10px;
    }    
    .contact__main .row>div {
        padding: 10px;
    }
    .contact {
        padding-bottom: 45px;
    }
    .contact__main .row {
        margin: -10px;
    }
    .news_view {
        padding-bottom: 45px;
    }
}
@media (max-width: 1170px) {
    .header__main__menu{
        display: none;
    }
    .mobile-menu {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
    .header__main {
        justify-content: space-between;
    }
    a.openMenu1{
        color: #ffffff;
        font-size: 17px;
    }
    .portfolio-inner-item {
        height: 400px;
    }
    
}
@media (max-width: 991px) {
    .slideThumbs{
        display: none;
    }
    .news__wrapper__main__body__item__image {
        max-width: 200px;
        -ms-flex: 0 0 200px;
        flex: 0 0 200px;
        height: 145px;
    }
    .slider-info h1 {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .slider-info p {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    .slider-home {
        height: 525px;
    }
    .homeSlider-item__image {
        height: 525px;
    }
    .slider-info {
        height: 275px;
        padding-bottom: 30px;
    }
    .homeSlider-item__info {
        padding-top: 90px;
    }
    .footer__main{
        flex-wrap: wrap;
    }
    .footer__main__left,
    .footer__main__center,
    .footer__main__right{
        flex: 0 0 100%;
        max-width: 100%;
        align-items: center;
        text-align: center;
    }
    .footer__main__left__social {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .footer__main__center ul {
        margin: 10px 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .footer__main__right__text2,
    .footer__main__right__text1 {
        margin-bottom: 10px;
    }
    .footer__main__center ul li {
        width: 50%;
        padding: 10px 0;
    }
    .header__main__setting__functions{
        display: none;
    }
    .header__main__setting {
        margin-left: 0;
    }
    .portfolio-inner-item {
        height: 345px;
    }
    .leadership__main__wrapper__item__header {
        padding-left: 0;
        padding-top: 220px;
    }
    .contact__main__content iframe {
        height: 300px;
    }
}
@media (max-width: 767px) {
    .slider-info h1{
        padding: 0;
    }
    .slider-info p{
        width: 100%;
    }
    .slider-info {
        height: auto;
    }
    .news::after {
        width: calc(100% - 120px);
    }
    .sidebar__downloads__item {
        min-height: auto;
        padding: 20px 0;
    }
    .main__wrapper__item {
        width: calc(100% - 42px);
    }
    .main__wrapper .row>div {
        padding: 10px 15px;
    }
    .main__wrapper__middle{
        display: none;
    }
    .news__wrapper{
        padding-bottom: 30px;
    }
    .main {
        padding: 60px 0;
    }
    .links__main__carousel__item {
        height: auto;
        margin-bottom: 45px;
    }
    .links__main__carousel__item__text p {
        margin-bottom: 10px;
    }
    .links {
        padding-bottom: 0;
    }
    .owl-control span {
        display: flex;
    }
    .news__wrapper__main__header a {
        font-size: 16px;
        line-height: 17px;
    }
    .sidebar__title {
        margin-bottom: 20px;
    }
    .news__wrapper__main__body{
        padding-bottom: 20px;
    }
    .help__main__title {
        margin-bottom: 25px;
    }
    .links__main__title {
        padding-top: 45px;
        padding-bottom: 25px;
    }    
    .news-view__main {
        padding: 15px;
        margin-bottom: 20px;
    }
    .sidebar__downloads {
        padding: 0 15px;
    }
    .content {
        padding: 15px;
    }    
    .sidebar {
        padding: 15px;
    }
    .leadership__main__wrapper__item {
        padding: 15px 15px 0;
    }
    .leadership__main__wrapper__item__header__image {
        left: 15px;
    }
    .leadership__main__wrapper__item__header__info h4 {
        font-size: 16px;
        line-height: 21px;
    }
    .leadership__main__wrapper__item:last-child{
        margin-bottom: 20px;
    }
    .contact__main .row>div:nth-child(4)>div ul li, .contact__main .row>div:nth-child(5)>div ul li {
        width: 100%;
        margin-bottom: 10px;
    }
    .contact__main .row>div:nth-child(4)>div ul li:first-child {
        width: 100%;
        margin-bottom: 10px;
    }
    .contact__main .row>div:nth-child(4)>div ul, .contact__main .row>div:nth-child(5)>div ul {
        flex-wrap: wrap;
    }
    .news_view {
        padding-bottom: 20px;
    }
}
@media (max-width: 576px) {
    .title h2 {
        font-size: 23px;
        line-height: 26px;
    }
    .news::after {
        width: 100%;
    }
    .news__wrapper__main__body__item__image{
        display: none;
    }
    .news__wrapper__main__body__item__info {
        margin-right: 0;
    }
    .header__main {
        padding: 15px 0 10px;
    }
    .slider-info h1 {
        font-size: 22px;
        line-height: 25px;
        margin-bottom: 15px;
        font-weight: 500;
    }
    .slider-info p {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 30px;
    }
    .slider-info a {
        font-size: 17px;
        line-height: 20px;
        font-weight: 500;
    }
    .header__main__logo img {
        height: auto;
        width: 130px;
    }
    .header__main__logo span {
        font-size: 11px;
        line-height: 12px;
        margin-top: 3px;
    }
    .portfolio-inner-item {
        height: 280px;
    }
    .leadership__main__wrapper__item__header__info ul li {
        width: 100%;
        margin-bottom: 0;
    }
    .leadership__main__wrapper__item__header__info h4 {
        margin-bottom: 15px;
    }
}

@media (max-width: 440px) {
    .footer__main__center ul li {
        width: 100%;
    }
    .header__main__setting__lang{
        display: none;
    }
    .header__main__setting__search {
        margin: 0 0 0 20px;
    }
    .title h2 {
        font-size: 23px;
        line-height: 24px;
    }
    .portfolio-inner-item {
        height: 220px;
    }
}